@page
@model ColetaModel
@{
    ViewData["Title"] = "Coleta";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coleta em Salvador</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap">
    <link href="~/css/Coleta.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />

</head>
<body>

    <div class="container">
        <div class="localização">
            <h1>Onde já combatemos o desperdício em Salvador:</h1><br>
            <p class="p">📍 Aeroporto</p>
            <p class="p">📍 Boca do Rio</p>
            <p class="p">📍 Cabula</p>
            <p class="p">📍 Dom Avelar</p>
            <p class="p">📍 Engenho Velho de Brotas</p>
            <p class="p">📍 Fazenda Grande I</p>
            <p class="p">📍 Garcia</p>
            <p class="p">📍 Itapuã</p>
            <p class="p">📍 Nazaré</p>
            <p class="p">📍 Jaguaripe</p>
            <p class="p">📍 Lapinha</p>
            <p class="p">📍 Mussurunga</p>
            <p class="p">📍 Americana</p>
        </div>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15553.943854478775!2d-38.38569225!3d-12.94072555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1725645671482!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</body>
</html>
