@page
@model ContatoModel
@{
    ViewData["Title"] = "Contato";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale Conosco</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap">
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/Contato.css" rel="stylesheet" />

</head>
<body>

    <div class="ctt">
        <h2 class="mb-4">Fale Conosco</h2>

        <form id="contactForm">
            <div class="form-group mb-4">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Digite seu nome:" required>
            </div>

            <div class="form-group mb-4">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail:" required>
            </div>

            <div class="form-group mb-4">
                <label for="message">Mensagem</label>
                <textarea class="form-control" id="message" placeholder="Digite sua mensagem" required></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary ctt-custom">Enviar</button>
        </form>
    </div>

    <script>
        document.getElementById('contactForm').addEventListener('submit', function(e) {
            e.preventDefault();
            // Adicione aqui a lógica para registrar o usuário
            alert('Formulário enviado com sucesso!');
        });
    </script>
</body>
</html>
