@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Título da página</title>
    <meta charset="utf-8">
    <link href="~/css/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap">

</head>
<body>
    <div class="home-container">
        <div class="home-banner-container">
            <div class="home-bannerImage-container">
                <img src="../Imagens/home-banner-image.png" alt="Banner FEA">
            </div>
            <div class="home-text-section">
                <h1 class="primary-heading">FEA CONTRA O DESPERDÍCIO DE ALIMENTOS.</h1>
                <p class="primary-text">
                    Desfrute refeições de restaurantes, padarias e produtos frescos de hortifrutis.
                    Una-se ao movimento contra o desperdício de alimentos.
                    Faça a diferença no meio ambiente e economize.
                    Escolha sustentabilidade!
                </p>
                <a href="parceiros.html" class="momorado">
                    <button class="secondary-button">Seja parceiro</button>
                </a>
                <p class="primary-text">
                    Junte-se a nós na missão de combater o desperdício de alimentos!
                    Seja um parceiro do nosso site e ajude a resgatar alimentos que seriam desperdiçados,
                    promovendo o bem-estar e a sustentabilidade.
                </p>
            </div>
        </div>
        <div class="about-section-container">
            <div class="about-section-image-container">
                <img src="../Imagens/fotopc.png" alt="Sobre nós imagem" />
            </div>
            <div class="about-section-text-container">
                <h1 class="primary-heading">Sobre nós</h1>
                <p class="terceiro-text">
                    O Food expiration aplicação Web é uma iniciativa dedicada ao combate ao desperdício de alimentos.
                    Nosso objetivo é conscientizar a sociedade sobre a importância de evitar o descarte desnecessário de comida,
                    promovendo práticas de consumo responsável e sustentável. Por meio de parcerias com produtores, varejistas e instituições,
                    o FEA busca redistribuir alimentos excedentes para comunidades carentes,
                    contribuindo para a redução da fome e o uso mais eficiente dos recursos alimentares.
                </p>
                <p class="terceiro-text">
                    Essa iniciativa busca criar um impacto positivo tanto ambiental quanto socialmente,
                    trabalhando para um mundo onde cada refeição importa.
                </p>
            </div>
        </div>
    <div class="work-section-wrapper">
        <div class="work-section-top">
            <h1 class="primary-heading">Como Funcionamos</h1>
        </div>
        <div class="work-section-bottom">
            <div class="work-section-info">
                <div class="info-boxes-img-container">
                    <img src="../Imagens/delivery-image.png" alt="Redistribuição de Alimentos">
                </div>
                <h2>Redistribuição de Alimentos</h2>
                <p>
                    O FEA trabalha para redistribuir alimentos excedentes para comunidades carentes.
                    Isso contribui para a redução da fome e para o uso mais eficiente dos recursos alimentares.
                    Trabalhamos para um mundo onde cada refeição importa.
                </p>
            </div>

            <div class="work-section-info">
                <div class="info-boxes-img-container">
                    <img src="../Imagens/choose-image.png" alt="Eventos e Comunidade">
                </div>
                <h2>Eventos e Comunidade</h2>
                <p>
                    Se você está comprometido com um futuro mais verde, o FEA é o seu lugar.
                    Nossos eventos são uma celebração da sustentabilidade e um chamado à ação
                    para todos aqueles que acreditam que podemos criar um mundo mais sustentável
                    e saudável para as gerações futuras.
                </p>
            </div>

            <div class="work-section-info">
                <div class="info-boxes-img-container">
                    <img src="../Imagens/pick-meals-image.png" alt="Parcerias e Benefícios">
                </div>
                <h2>Parcerias e Benefícios</h2>
                <p>
                    O FEA tem parcerias com produtores e varejistas para coletar alimentos excedentes.
                    Esses alimentos são redistribuídos para comunidades carentes.
                    Além disso, compras em supermercados parceiros recebem descontos especiais.
                    Junte-se a nós e faça a diferença!
                </p>
            </div>
        </div>
    </div>
</body>
</html>

